@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Boogaloo);
h1{
    font-family: Kaushan Script; 
    color: aquamarine;
    text-shadow: -2.5px -2.5px 1px gold;
}
h2{
    font-family: Chewy;
    color:pink;
    
}
h3{font-family: Playball;
    color: mediumpurple;
 
    
}

@media(max-width:35em){
 .masthead{
        
        background:  url( "http://thumbs.dreamstime.com/z/cute-white-cat-cartoon-sitting-illustration-30568605.jpg" );
        background-repeat: no-repeat;
        background-size: 20%;
        background-position:top;
        
    }
.wrapper{
    max-width:960px;
        width:90%;
        margin:0 auto;
        background-color: lightyellow
        
    }
    nav ul{
        display: block;
        clear: both;
        list-style: none;
    
    }
nav li{
    width: 100%;
    
    float:left;
    text-align: center;
    line-height: 3rem;  
    

}
    nav li a {
        text-decoration: none;
        color:purple;
        font-size: 1.2rem;
        
    }
     nav li a:hover{
        color:bisque;
    }
    
h1{
        text-align: center;
    padding-top: 80px
    }
    
h2{
        
        text-align: center;
        font-size: 25px;
       
    }
    h3{
        text-align: center;
        font-size: 25px
    }
    h4{
        text-align: center;
        font-size: 25px
    }
    
    .left{
        width: 100%;
        max-width: 35em;
    }
    
     .right{
        width: 100%;
        max-width: 35em;
    }
    
    p{
        font-size: 0.8rem;
        color: grey;
        line-height: 2rem;
        background-color: aquamarine;
        border: 0.5rem solid yellow;
        
        
    }
    .content{
        background-color: aquamarine;
    }
   
.footer{
        clear: both;
        text-align: center;
    }
}
  
    
    
    
@media(min-width: 35em) and (max-width: 60em){

    .wrapper{
        margin:1.5rem;
        background-color: lightyellow;
        
       
    }
    h1{
        text-align: center;
        font-size: 40px;
        padding-top: 80px
    }
    h2{
        text-align: center;
        font-size: 30px;
    }
    h3{
        text-align: center;
        font-size: 30px;
    }
    
    .masthead{
        
    background:  url( "http://thumbs.dreamstime.com/z/cute-white-cat-cartoon-sitting-illustration-30568605.jpg" );
        background-repeat: no-repeat;
        background-size: 10%;
        background-position:top;
         width: 100%;
    }
    
    nav ul{
        display: block;
        clear: both;
        list-style: none;
        
        
    }
     nav li a {
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.2rem;
         
        
    }
    nav li{
        float: left;
         width: 25%;
        line-height: 2.6rem;
        
        border:0.5px solid red;
    }
     nav li a:hover{
        color:bisque;
    }
    .primary{
        border:0.5rem solid orange;
        
    }

    .content{
        width: 63%;
        float: left;
    }
    p{
        font-size: 1rem;
        line-height: 2rem;
        
        background-color: aquamarine;
        
    }
    
    .side{
        width: 37%;
        float: right;
        
        
        
    }
    .left{
        width: 100%;
        max-width: 60em;
    }
    .right{
        width: 100%;
        max-height: 60em;
    }
    .footer{
        width: 100%;
        clear: both;
        text-align: center;
    }




}


@media(min-width: 60em) {
    
     .wrapper{
        margin:2rem;
        background-color: lightyellow;
         max-width: 1600px;
        
    }
    
    .masthead{
        
        background:  url( "http://thumbs.dreamstime.com/z/cute-white-cat-cartoon-sitting-illustration-30568605.jpg" );
        background-repeat: no-repeat;
        background-size: 10%;
        background-position:top;
        width: 100%;
        
    }
    
    .mainnav {
    width: 25%;
    float:left;
    
    }
    nav ul{
        display: block;
        clear: both;
        list-style: none;
    
    }
  
    nav li a:hover{
        color:bisque;
    }
     nav li a {
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.2rem;
        
    }
    nav li{
        border:3px solid red;
        line-height: 2.5rem;
        background-color: mediumpurple;
    }
    
    h1{
        text-align: center;
        font-size: 50px;
        padding-top: 7rem;
    }
    h2{
        text-align: center;
        font-size: 30px;
    
    }
    h3{
        text-align: center;
        font-size: 30px;
    }
    
    
    
    
    .content{    
    -webkit-column-count: 2;
    -webkit-column-gap: 0.5rem;
    column-count: 2;
    column-gap: 0.5rem;
    float: left;
    width: 50%;
    
}
    
        
        
        
    
    .side{
        float: right;
        width: 25%;
        
        
        
    }
    .left{
        width: 100%;
        max-width: 1600px;
    }
    .right{
        width: 100%;
        max-width: 1600px;
    }
    p{
        font-size: 1.5rem;
        line-height: 2rem;
        
        color:grey;
        margin-left: 2rem;
        background-color: aquamarine;
        
    }
    
    .footer{
        clear: both;
        width: 100%;
        text-align: center;
    }










}







